<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>cruddle documentation</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="icon" type="image/x-icon" href="../images/favicon.ico">
	    <link rel="stylesheet" href="../styles/style.css">
    </head>
    <body>

        <div class="navbar navbar-default navbar-fixed-top visible-xs">
            <a href="../" class="navbar-brand">cruddle documentation</a>
            <button type="button" class="btn btn-default btn-menu fa fa-bars" id="btn-menu"></button>
        </div>

        <div class="xs-menu menu" id="mobile-menu">
            <div id="book-search-input" role="search">
                <input type="text" placeholder="Type to search">
            </div>
            <nav>
            
                <ul class="list">
            
                    <li class="title">
                        <a href="../">cruddle documentation</a>
                    </li>
            
                    <li class="divider"></li>
            
            
                    <li class="chapter">
                        <a data-type="chapter-link" href="../"><span class="fa fa-home"></span>Getting started</a>
                        <ul class="links">
                                <li class="link">
                                    <a href="../" ><span class="fa fa-file-text-o"></span>README</a>
                                </li>
                                <li class="link">
                                    <a 
                                        
                                         href="../overview.html" 
                                         href="../overview.html" 
                                        >
                                        <span class="fa fa-th"></span>Overview
                                    </a>
                                </li>
                        </ul>
                    </li>
            
                    <li class="chapter">
                        <a data-type="chapter-link" href="./modules.html" >
                            <span class="fa fa-archive"></span>
                            <span>Modules</span>
                            <span class="menu-toggler fa fa-angle-up" data-toggle="collapse"
                                    data-target="#xs-modules-links"
                            ></span>
                        </a>
                        <ul class="links collapse in"
                                id="xs-modules-links"
                            >
                                <li class="link">
                                    <a href="../modules/CruddleModule.html" >CruddleModule</a>
                                </li>
                        </ul>
                    </li>
            
                    <li class="chapter">
                        <div class="simple">
                            <span class="fa fa-cogs"></span>
                            <span>Components</span>
                            <span class="menu-toggler fa fa-angle-up" data-toggle="collapse"
                                    data-target="#xs-components-links"
                                ></span>
                        </div>
                        <ul class="links collapse in"
                                id="xs-components-links"
                            >
                                <li class="link">
                                    <a href="../components/DeleteComponent.html" >DeleteComponent</a>
                                </li>
                                <li class="link">
                                    <a href="../components/FormComponent.html" >FormComponent</a>
                                </li>
                                <li class="link">
                                    <a href="../components/ListComponent.html"  class="active" >ListComponent</a>
                                </li>
                                <li class="link">
                                    <a href="../components/ReadComponent.html" >ReadComponent</a>
                                </li>
                        </ul>
                    </li>
            
            
                    <li class="chapter">
                        <div class="simple">
                            <span class="fa fa-file-code-o"></span>
                            <span>Classes</span>
                            <span class="menu-toggler fa fa-angle-up" data-toggle="collapse"
                                    data-target="#xs-classes-links"
                                ></span>
                        </div>
                        <ul class="links collapse in"
                                id="xs-classes-links"
                            >
                                <li class="link">
                                    <a href="../classes/Definitions.html" >Definitions</a>
                                </li>
                        </ul>
                    </li>
            
            
            
                    <li class="chapter">
                        <div class="simple">
                            <span class="fa fa-info"></span>
                            <span>Interfaces</span>
                            <span class="menu-toggler fa fa-angle-up" data-toggle="collapse"
                                    data-target="#xs-interfaces-links"
                                ></span>
                        </div>
                        <ul class="links collapse in"
                                id="xs-interfaces-links"
                            >
                                <li class="link">
                                    <a href="../interfaces/ActionDefinition.html" >ActionDefinition</a>
                                </li>
                                <li class="link">
                                    <a href="../interfaces/AssociationDefinition.html" >AssociationDefinition</a>
                                </li>
                                <li class="link">
                                    <a href="../interfaces/AttributeDefinition.html" >AttributeDefinition</a>
                                </li>
                                <li class="link">
                                    <a href="../interfaces/BaseDefinition.html" >BaseDefinition</a>
                                </li>
                                <li class="link">
                                    <a href="../interfaces/ContextualActionDefinition.html" >ContextualActionDefinition</a>
                                </li>
                                <li class="link">
                                    <a href="../interfaces/DeleteDefinition.html" >DeleteDefinition</a>
                                </li>
                                <li class="link">
                                    <a href="../interfaces/FilterState.html" >FilterState</a>
                                </li>
                                <li class="link">
                                    <a href="../interfaces/FormDefinition.html" >FormDefinition</a>
                                </li>
                                <li class="link">
                                    <a href="../interfaces/GlobalActionDefinition.html" >GlobalActionDefinition</a>
                                </li>
                                <li class="link">
                                    <a href="../interfaces/ListDefinition.html" >ListDefinition</a>
                                </li>
                                <li class="link">
                                    <a href="../interfaces/PagingState.html" >PagingState</a>
                                </li>
                                <li class="link">
                                    <a href="../interfaces/PropertyDefinition.html" >PropertyDefinition</a>
                                </li>
                                <li class="link">
                                    <a href="../interfaces/ReadDefinition.html" >ReadDefinition</a>
                                </li>
                                <li class="link">
                                    <a href="../interfaces/SortState.html" >SortState</a>
                                </li>
                        </ul>
                    </li>
            
            
                    <li class="chapter">
                        <a data-type="chapter-link" href="../miscellaneous.html" ><span class="fa fa-cubes"></span>Miscellaneous</a>
                    </li>
            
                    <li class="chapter">
                        <a data-type="chapter-link" href="../coverage.html" ><span class="fa fa-tasks"></span>Documentation coverage</a>
                    </li>
            
                    <li class="divider"></li>
                    <li class="copyright">
                            Documentation generated using <a href="https://compodoc.github.io/compodoc/" target="_blank">
                                        <img src="..//images/compodoc-vectorise.svg" class="img-responsive">
                            </a>
                    </li>
            
                </ul>
            
            </nav>
        </div>

        <div class="container-fluid main">
           <div class="row main">
               <div class="hidden-xs menu">
                   <nav>
                   
                       <ul class="list">
                   
                           <li class="title">
                               <a href="../">cruddle documentation</a>
                           </li>
                   
                           <li class="divider"></li>
                   
                               <div id="book-search-input" role="search">
                                   <input type="text" placeholder="Type to search">
                               </div>
                   
                           <li class="chapter">
                               <a data-type="chapter-link" href="../"><span class="fa fa-home"></span>Getting started</a>
                               <ul class="links">
                                       <li class="link">
                                           <a href="../" ><span class="fa fa-file-text-o"></span>README</a>
                                       </li>
                                       <li class="link">
                                           <a 
                                               
                                                href="../overview.html" 
                                                href="../overview.html" 
                                               >
                                               <span class="fa fa-th"></span>Overview
                                           </a>
                                       </li>
                               </ul>
                           </li>
                   
                           <li class="chapter">
                               <a data-type="chapter-link" href="./modules.html" >
                                   <span class="fa fa-archive"></span>
                                   <span>Modules</span>
                                   <span class="menu-toggler fa fa-angle-up" data-toggle="collapse"
                                           data-target="#modules-links"
                                   ></span>
                               </a>
                               <ul class="links collapse in"
                                       id="modules-links"
                   >
                                       <li class="link">
                                           <a href="../modules/CruddleModule.html" >CruddleModule</a>
                                       </li>
                               </ul>
                           </li>
                   
                           <li class="chapter">
                               <div class="simple">
                                   <span class="fa fa-cogs"></span>
                                   <span>Components</span>
                                   <span class="menu-toggler fa fa-angle-up" data-toggle="collapse"
                                           data-target="#components-links"
                   ></span>
                               </div>
                               <ul class="links collapse in"
                                       id="components-links"
                   >
                                       <li class="link">
                                           <a href="../components/DeleteComponent.html" >DeleteComponent</a>
                                       </li>
                                       <li class="link">
                                           <a href="../components/FormComponent.html" >FormComponent</a>
                                       </li>
                                       <li class="link">
                                           <a href="../components/ListComponent.html"  class="active" >ListComponent</a>
                                       </li>
                                       <li class="link">
                                           <a href="../components/ReadComponent.html" >ReadComponent</a>
                                       </li>
                               </ul>
                           </li>
                   
                   
                           <li class="chapter">
                               <div class="simple">
                                   <span class="fa fa-file-code-o"></span>
                                   <span>Classes</span>
                                   <span class="menu-toggler fa fa-angle-up" data-toggle="collapse"
                                           data-target="#classes-links"
                   ></span>
                               </div>
                               <ul class="links collapse in"
                                       id="classes-links"
                   >
                                       <li class="link">
                                           <a href="../classes/Definitions.html" >Definitions</a>
                                       </li>
                               </ul>
                           </li>
                   
                   
                   
                           <li class="chapter">
                               <div class="simple">
                                   <span class="fa fa-info"></span>
                                   <span>Interfaces</span>
                                   <span class="menu-toggler fa fa-angle-up" data-toggle="collapse"
                                           data-target="#interfaces-links"
                   ></span>
                               </div>
                               <ul class="links collapse in"
                                       id="interfaces-links"
                   >
                                       <li class="link">
                                           <a href="../interfaces/ActionDefinition.html" >ActionDefinition</a>
                                       </li>
                                       <li class="link">
                                           <a href="../interfaces/AssociationDefinition.html" >AssociationDefinition</a>
                                       </li>
                                       <li class="link">
                                           <a href="../interfaces/AttributeDefinition.html" >AttributeDefinition</a>
                                       </li>
                                       <li class="link">
                                           <a href="../interfaces/BaseDefinition.html" >BaseDefinition</a>
                                       </li>
                                       <li class="link">
                                           <a href="../interfaces/ContextualActionDefinition.html" >ContextualActionDefinition</a>
                                       </li>
                                       <li class="link">
                                           <a href="../interfaces/DeleteDefinition.html" >DeleteDefinition</a>
                                       </li>
                                       <li class="link">
                                           <a href="../interfaces/FilterState.html" >FilterState</a>
                                       </li>
                                       <li class="link">
                                           <a href="../interfaces/FormDefinition.html" >FormDefinition</a>
                                       </li>
                                       <li class="link">
                                           <a href="../interfaces/GlobalActionDefinition.html" >GlobalActionDefinition</a>
                                       </li>
                                       <li class="link">
                                           <a href="../interfaces/ListDefinition.html" >ListDefinition</a>
                                       </li>
                                       <li class="link">
                                           <a href="../interfaces/PagingState.html" >PagingState</a>
                                       </li>
                                       <li class="link">
                                           <a href="../interfaces/PropertyDefinition.html" >PropertyDefinition</a>
                                       </li>
                                       <li class="link">
                                           <a href="../interfaces/ReadDefinition.html" >ReadDefinition</a>
                                       </li>
                                       <li class="link">
                                           <a href="../interfaces/SortState.html" >SortState</a>
                                       </li>
                               </ul>
                           </li>
                   
                   
                           <li class="chapter">
                               <a data-type="chapter-link" href="../miscellaneous.html" ><span class="fa fa-cubes"></span>Miscellaneous</a>
                           </li>
                   
                           <li class="chapter">
                               <a data-type="chapter-link" href="../coverage.html" ><span class="fa fa-tasks"></span>Documentation coverage</a>
                           </li>
                   
                           <li class="divider"></li>
                           <li class="copyright">
                                   Documentation generated using <a href="https://compodoc.github.io/compodoc/" target="_blank">
                                               <img src="..//images/compodoc-vectorise.svg" class="img-responsive">
                                   </a>
                           </li>
                   
                       </ul>
                   
                   </nav>
               </div>
               <div class="content component">
                   <div class="content-data">


<ol class="breadcrumb">
  <li>Components</li>
  <li>ListComponent</li>
</ol>


    <ul class="nav nav-tabs" role="tablist">
        <li class="active">
            <a href="#infos" id="infos-tab" role="tab" data-toggle="tab">Infos</a>
        </li>
        <li>
            <a href="#source" role="tab" id="source-tab" data-toggle="tab">Source</a>
        </li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane fade active in" id="infos"><p class="comment">
    <h3>File</h3>
</p>
<p class="comment">
    <code>src/components/list.ts</code>
</p>

    <p class="comment">
        <h3>Description</h3>
    </p>
    <p class="comment">
        <p>The Cruddle list component that handles the list screen.</p>

    </p>


<section>
    <h3>Metadata</h3>
    <table class="table table-sm table-hover">
        <tbody>












            <tr>
                <td class="col-md-3">selector</td>
                <td class="col-md-9"><code>cruddle-list</code></td>
            </tr>



            <tr>
                <td class="col-md-3">template</td>
                <td class="col-md-9"><code>&lt;div&nbsp;class&#x3D;&quot;cruddle-list&quot;&gt;<br>&nbsp;&nbsp;&lt;ng-content&gt;&lt;/ng-content&gt;<br>&lt;/div&gt;<br></code></td>
            </tr>



        </tbody>
    </table>
</section>

    <section>
        <h3 id="inputs">Inputs</h3>
            <table class="table table-sm table-bordered">
                <tbody>
                    <tr>
                        <td class="col-md-2">
                            <code>data</code>
                        </td>
                        <td class="col-md-10">
                            <div><p>The model instance data that is being listed. </p>
</div>
                              <p>
                                <em>Type:</em>    <code>any[]</code>

                              </p>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-sm table-bordered">
                <tbody>
                    <tr>
                        <td class="col-md-2">
                            <code>def</code>
                        </td>
                        <td class="col-md-10">
                            <div><p>The definition of the list. </p>
</div>
                              <p>
                                <em>Type:</em>    <code>ListDefinition&lt;any&gt;</code>

                              </p>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-sm table-bordered">
                <tbody>
                    <tr>
                        <td class="col-md-2">
                            <code>filters</code>
                        </td>
                        <td class="col-md-10">
                            <div><p>Any filters to apply to the list. </p>
</div>
                              <p>
                                <em>Type:</em>    <code>FilterState[]</code>

                              </p>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-sm table-bordered">
                <tbody>
                    <tr>
                        <td class="col-md-2">
                            <code>paging</code>
                        </td>
                        <td class="col-md-10">
                            <div><p>The pagination state for the list. </p>
</div>
                              <p>
                                <em>Type:</em>    <code>PagingState</code>

                              </p>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-sm table-bordered">
                <tbody>
                    <tr>
                        <td class="col-md-2">
                            <code>sorting</code>
                        </td>
                        <td class="col-md-10">
                            <div><p>Any sorting to apply to the list. </p>
</div>
                              <p>
                                <em>Type:</em>    <code>SortState[]</code>

                              </p>
                        </td>
                    </tr>
                </tbody>
            </table>
    </section>

    <section>
        <h3 id="outputs">Outputs</h3>
            <table class="table table-sm table-bordered">
                <tbody>
                    <tr>
                        <td class="col-md-2">
                            <code>error</code>
                        </td>
                        <td class="col-md-10">
                            <div><p>Emits errors during refreshing the list. </p>
</div>
                            <em><code>$event</code> type:</em>    <code><a href="https://angular.io/docs/ts/latest/api/core/index/EventEmitter-class.html" target="_blank" >EventEmitter</a></code>

                        </td>
                    </tr>
                </tbody>
            </table>
    </section>


    <section>
        <h3 id="methods">Methods</h3>
            <table class="table table-sm table-bordered">
                <tbody>
                    <tr>
                        <td class="col-md-4">
                            <b> clearSorting</b>
                        </td>
                    </tr>
    
                    <tr>
                        <td class="col-md-4">
    <code>clearSorting(refresh: boolean)</code>
                        </td>
                    </tr>
    
                    <tr>
                        <td class="col-md-4">
                                <div class="io-description"><p>Clear the sorting of the list.</p>
    </div>
                                <div class="io-description">
                                        <b>Parameters :</b>
                                        <ul class="jsdoc-params">
                                                <li>
                                                    <div>
                                                        <b>refresh</b>
                                                    </div>
                                                    <div>
                                                        <p>Whether or not to refresh the lsit after. Defaults to true.</p>
    
                                                    </div>
                                                </li>
                                        </ul>
                                </div>
                                <div class="io-description">
                                    <b>Returns: </b>    <code>void</code>
    
                                </div>
                                    <div class="io-description">
                                        
                                    </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-sm table-bordered">
                <tbody>
                    <tr>
                        <td class="col-md-4">
                            <b> clearFiltering</b>
                        </td>
                    </tr>
    
                    <tr>
                        <td class="col-md-4">
    <code>clearFiltering(refresh: boolean)</code>
                        </td>
                    </tr>
    
                    <tr>
                        <td class="col-md-4">
                                <div class="io-description"><p>Clear the filtering of the list.</p>
    </div>
                                <div class="io-description">
                                        <b>Parameters :</b>
                                        <ul class="jsdoc-params">
                                                <li>
                                                    <div>
                                                        <b>refresh</b>
                                                    </div>
                                                    <div>
                                                        <p>Whether or not to refresh the lsit after. Defaults to true.</p>
    
                                                    </div>
                                                </li>
                                        </ul>
                                </div>
                                <div class="io-description">
                                    <b>Returns: </b>    <code>void</code>
    
                                </div>
                                    <div class="io-description">
                                        
                                    </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-sm table-bordered">
                <tbody>
                    <tr>
                        <td class="col-md-4">
                            <b> sort</b>
                        </td>
                    </tr>
    
                    <tr>
                        <td class="col-md-4">
    <code>sort(map: (props: any) => Property<any>, order: SortOrder, refresh: boolean)</code>
                        </td>
                    </tr>
    
                    <tr>
                        <td class="col-md-4">
                                <div class="io-description"><p>Sort by a specific property with a specific order.</p>
    </div>
                                <div class="io-description">
                                        <b>Parameters :</b>
                                        <ul class="jsdoc-params">
                                                <li>
                                                    <div>
                                                        <b>map</b>
                                                    </div>
                                                    <div>
                                                        <p>A function that takes the model&#39;s properties and returns<br>the property to sort by.</p>
    
                                                    </div>
                                                </li>
                                                <li>
                                                    <div>
                                                        <b>order</b>
                                                    </div>
                                                    <div>
                                                        <p>The sort order. Defaults to ascending.</p>
    
                                                    </div>
                                                </li>
                                                <li>
                                                    <div>
                                                        <b>refresh</b>
                                                    </div>
                                                    <div>
                                                        <p>Whether or not to refresh the lsit after. Defaults to true.</p>
    
                                                    </div>
                                                </li>
                                        </ul>
                                </div>
                                <div class="io-description">
                                    <b>Returns: </b>    <code>void</code>
    
                                </div>
                                    <div class="io-description">
                                        
                                    </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-sm table-bordered">
                <tbody>
                    <tr>
                        <td class="col-md-4">
                            <b> addFilter</b>
                        </td>
                    </tr>
    
                    <tr>
                        <td class="col-md-4">
    <code>addFilter(map: (props: any) => Property<any>, filter: Partial<FilterState>, refresh: boolean)</code>
                        </td>
                    </tr>
    
                    <tr>
                        <td class="col-md-4">
                                <div class="io-description"><p>Add a filter to the list.<br>This will automatically refresh the list,<br>unless asked not to.</p>
    </div>
                                <div class="io-description">
                                        <b>Parameters :</b>
                                        <ul class="jsdoc-params">
                                                <li>
                                                    <div>
                                                        <b>map</b>
                                                    </div>
                                                    <div>
                                                        <p>A function that takes the model&#39;s properties and returns<br>  the property to filter by.</p>
    
                                                    </div>
                                                </li>
                                                <li>
                                                    <div>
                                                        <b>filter</b>
                                                    </div>
                                                    <div>
                                                        <p>The additional filter state to use, without the property. This should contain the operator and value.</p>
    
                                                    </div>
                                                </li>
                                                <li>
                                                    <div>
                                                        <b>refresh</b>
                                                    </div>
                                                    <div>
                                                        <p>Whether or not to refresh the list after. Defaults to true.</p>
    
                                                    </div>
                                                </li>
                                        </ul>
                                </div>
                                <div class="io-description">
                                    <b>Returns: </b>    <code>void</code>
    
                                </div>
                                    <div class="io-description">
                                        
                                    </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-sm table-bordered">
                <tbody>
                    <tr>
                        <td class="col-md-4">
                            <b> removeFilter</b>
                        </td>
                    </tr>
    
                    <tr>
                        <td class="col-md-4">
    <code>removeFilter(filter: FilterState, refresh: boolean)</code>
                        </td>
                    </tr>
    
                    <tr>
                        <td class="col-md-4">
                                <div class="io-description"><p>Remove a filter from the list.<br>This will automatically refresh the list,<br>unless asked not to.</p>
    <p>Note that this will remove blanketly by the a shallow equal.</p>
    </div>
                                <div class="io-description">
                                        <b>Parameters :</b>
                                        <ul class="jsdoc-params">
                                                <li>
                                                    <div>
                                                        <b>filter</b>
                                                    </div>
                                                    <div>
                                                        <p>The filter state to stop filtering.</p>
    
                                                    </div>
                                                </li>
                                                <li>
                                                    <div>
                                                        <b>refresh</b>
                                                    </div>
                                                    <div>
                                                        <p>Whether or not to refresh the list after. Defaults to true.</p>
    
                                                    </div>
                                                </li>
                                        </ul>
                                </div>
                                <div class="io-description">
                                    <b>Returns: </b>    <code>void</code>
    
                                </div>
                                    <div class="io-description">
                                        
                                    </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-sm table-bordered">
                <tbody>
                    <tr>
                        <td class="col-md-4">
                            <b> hasPaging</b>
                        </td>
                    </tr>
    
                    <tr>
                        <td class="col-md-4">
    <code>hasPaging()</code>
                        </td>
                    </tr>
    
                    <tr>
                        <td class="col-md-4">
                                <div class="io-description"><p>Whether or not pagination information has been provided.</p>
    </div>
                                <div class="io-description">
                                </div>
                                <div class="io-description">
                                    <b>Returns: </b>    <code>boolean</code>
    
                                </div>
                                    <div class="io-description">
                                        <p>Whether pagination is enabled.</p>
    
                                    </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-sm table-bordered">
                <tbody>
                    <tr>
                        <td class="col-md-4">
                            <b> setPage</b>
                        </td>
                    </tr>
    
                    <tr>
                        <td class="col-md-4">
    <code>setPage(page: number, refresh: boolean)</code>
                        </td>
                    </tr>
    
                    <tr>
                        <td class="col-md-4">
                                <div class="io-description"><p>Move to a specific page page.<br>This will do nothing if paging information has not been provided.</p>
    </div>
                                <div class="io-description">
                                        <b>Parameters :</b>
                                        <ul class="jsdoc-params">
                                                <li>
                                                    <div>
                                                        <b>page</b>
                                                    </div>
                                                    <div>
                                                        <p>The page number to navigate to. This starts from 1.</p>
    
                                                    </div>
                                                </li>
                                                <li>
                                                    <div>
                                                        <b>refresh</b>
                                                    </div>
                                                    <div>
                                                        <p>Whether or not to refresh the list after. Defaults to true.</p>
    
                                                    </div>
                                                </li>
                                        </ul>
                                </div>
                                <div class="io-description">
                                    <b>Returns: </b>    <code>void</code>
    
                                </div>
                                    <div class="io-description">
                                        
                                    </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-sm table-bordered">
                <tbody>
                    <tr>
                        <td class="col-md-4">
                            <b> nextPage</b>
                        </td>
                    </tr>
    
                    <tr>
                        <td class="col-md-4">
    <code>nextPage(refresh: boolean)</code>
                        </td>
                    </tr>
    
                    <tr>
                        <td class="col-md-4">
                                <div class="io-description"><p>Move to the next page.<br>This will do nothing if paging information has not been provided.</p>
    </div>
                                <div class="io-description">
                                        <b>Parameters :</b>
                                        <ul class="jsdoc-params">
                                                <li>
                                                    <div>
                                                        <b>refresh</b>
                                                    </div>
                                                    <div>
                                                        <p>Whether or not to refresh the list after. Defaults to true.</p>
    
                                                    </div>
                                                </li>
                                        </ul>
                                </div>
                                <div class="io-description">
                                    <b>Returns: </b>    <code>void</code>
    
                                </div>
                                    <div class="io-description">
                                        
                                    </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-sm table-bordered">
                <tbody>
                    <tr>
                        <td class="col-md-4">
                            <b> previousPage</b>
                        </td>
                    </tr>
    
                    <tr>
                        <td class="col-md-4">
    <code>previousPage(refresh: boolean)</code>
                        </td>
                    </tr>
    
                    <tr>
                        <td class="col-md-4">
                                <div class="io-description"><p>Move to the previous page.<br>This will do nothing if paging information has not been provided.</p>
    </div>
                                <div class="io-description">
                                        <b>Parameters :</b>
                                        <ul class="jsdoc-params">
                                                <li>
                                                    <div>
                                                        <b>refresh</b>
                                                    </div>
                                                    <div>
                                                        <p>Whether or not to refresh the list after. Defaults to true.</p>
    
                                                    </div>
                                                </li>
                                        </ul>
                                </div>
                                <div class="io-description">
                                    <b>Returns: </b>    <code>void</code>
    
                                </div>
                                    <div class="io-description">
                                        
                                    </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-sm table-bordered">
                <tbody>
                    <tr>
                        <td class="col-md-4">
                            <b> refresh</b>
                        </td>
                    </tr>
    
                    <tr>
                        <td class="col-md-4">
    <code>refresh()</code>
                        </td>
                    </tr>
    
                    <tr>
                        <td class="col-md-4">
                                <div class="io-description"><p>Refresh the instance data being displayed using<br>the existing filters, sorting and paging.</p>
    <p>This will also automatically output any errors to the error output,<br>to allow for users of the library to handle data refresh errors<br>(whether it be from an API or local storage) appropiately.</p>
    </div>
                                <div class="io-description">
                                    <b>Returns: </b>    <code>void</code>
    
                                </div>
                        </td>
                    </tr>
                </tbody>
            </table>
    </section>

</div>
        <div class="tab-pane fade tab-source-code" id="source">
            <pre><code class="hljs javascript">import * as _ from &#x27;lodash&#x27;;
import { Component, Input, Output, EventEmitter } from &#x27;@angular/core&#x27;;
import { Model, ModelProperties, Property, getProperties } from &#x27;modelsafe&#x27;;

import { ListDefinition, SortState, FilterState,
         PagingState, SortOrder } from &#x27;../definitions/list&#x27;;

/**
 * The Cruddle list component that handles the list screen.
 */
@Component({
  selector: &#x27;cruddle-list&#x27;,
  template: &#x60;
    &lt;div class&#x3D;&quot;cruddle-list&quot;&gt;
      &lt;ng-content&gt;&lt;/ng-content&gt;
    &lt;/div&gt;
  &#x60;
})
export class ListComponent {
  /** The definition of the list. */
  @Input() def: ListDefinition&lt;any&gt;;

  /** The model instance data that is being listed. */
  @Input() data: any[];

  /** Any sorting to apply to the list. */
  @Input() sorting: SortState[];

  /** Any filters to apply to the list. */
  @Input() filters: FilterState[];

  /** The pagination state for the list. */
  @Input() paging: PagingState;

  /** Emits errors during refreshing the list. */
  @Output() error &#x3D; new EventEmitter();

  /** Initialize the component with defaults. */
  ngOnInit() {
    if (!Array.isArray(this.sorting)) {
      this.sorting &#x3D; [];
    }

    if (!Array.isArray(this.filters)) {
      this.filters &#x3D; [];
    }
  }

  /**
   * Clear the sorting of the list.
   *
   * @param refresh Whether or not to refresh the lsit after. Defaults to true.
   */
  clearSorting(refresh: boolean &#x3D; true) {
    this.sorting &#x3D; [];

    if (refresh) {
      this.refresh();
    }
  }

  /**
   * Clear the filtering of the list.
   *
   * @param refresh Whether or not to refresh the lsit after. Defaults to true.
   */
  clearFiltering(refresh: boolean &#x3D; true) {
    this.filters &#x3D; [];

    if (refresh) {
      this.refresh();
    }
  }

  /**
   * Sort by a specific property with a specific order.
   *
   * @param map A function that takes the model&#x27;s properties and returns
   *            the property to sort by.
   * @param order The sort order. Defaults to ascending.
   * @param refresh Whether or not to refresh the lsit after. Defaults to true.
   */
  sort(map: (props: ModelProperties&lt;any&gt;) &#x3D;&gt; Property&lt;any&gt;, order?: SortOrder, refresh: boolean  &#x3D; true) {
    let props &#x3D; getProperties(this.def.model);
    let prop &#x3D; map(props);
    let sorting &#x3D; _.filter(this.sorting, s &#x3D;&gt; s.prop.toString() !&#x3D;&#x3D; prop.toString());

    if (!order) {
      order &#x3D; SortOrder.ASC;
    }

    this.sorting.push({ prop, order });

    if (refresh) {
      this.refresh();
    }
  }

  /**
   * Add a filter to the list.
   * This will automatically refresh the list,
   * unless asked not to.
   *
   * @param map A function that takes the model&#x27;s properties and returns
   *             the property to filter by.
   * @param filter The additional filter state to use, without the property. This should contain the operator and value.
   * @param refresh Whether or not to refresh the list after. Defaults to true.
   */
  addFilter(map: (props: ModelProperties&lt;any&gt;) &#x3D;&gt; Property&lt;any&gt;, filter?: Partial&lt;FilterState&gt;, refresh: boolean &#x3D; true) {
    let props &#x3D; getProperties(this.def.model);
    let prop &#x3D; map(props);

    this.filters.push({ prop, ... filter as FilterState });

    if (refresh) {
      this.refresh();
    }
  }

  /**
   * Remove a filter from the list.
   * This will automatically refresh the list,
   * unless asked not to.
   *
   * Note that this will remove blanketly by the a shallow equal.
   *
   * @param filter The filter state to stop filtering.
   * @param refresh Whether or not to refresh the list after. Defaults to true.
   */
  removeFilter(filter: FilterState, refresh: boolean &#x3D; true) {
    this.filters &#x3D; _.without(this.filters, filter);

    if (refresh) {
      this.refresh();
    }
  }

  /**
   * Whether or not pagination information has been provided.
   *
   * @returns Whether pagination is enabled.
   */
  hasPaging(): boolean {
    return this.paging &amp;&amp; typeof (this.paging) &#x3D;&#x3D;&#x3D; &#x27;object&#x27;;
  }

  /**
   * Move to a specific page page.
   * This will do nothing if paging information has not been provided.
   *
   * @param page The page number to navigate to. This starts from 1.
   * @param refresh Whether or not to refresh the list after. Defaults to true.
   */
  setPage(page: number, refresh: boolean &#x3D; true) {
    if (this.hasPaging()) {
      let paging &#x3D; this.paging;

      paging.page &#x3D; Math.max(Math.min(page, paging.numPages), 1);
    }

    if (refresh) {
      this.refresh();
    }
  }

  /**
   * Move to the next page.
   * This will do nothing if paging information has not been provided.
   *
   * @param refresh Whether or not to refresh the list after. Defaults to true.
   */
  nextPage(refresh: boolean &#x3D; true) {
    if (this.hasPaging()) {
      let paging &#x3D; this.paging;

      this.setPage(paging.page + 1, refresh);
    }
  }

  /**
   * Move to the previous page.
   * This will do nothing if paging information has not been provided.
   *
   * @param refresh Whether or not to refresh the list after. Defaults to true.
   */
  previousPage(refresh: boolean &#x3D; true) {
    if (this.hasPaging()) {
      let paging &#x3D; this.paging;

      this.setPage(paging.page - 1, refresh);
    }
  }

  /**
   * Refresh the instance data being displayed using
   * the existing filters, sorting and paging.
   *
   * This will also automatically output any errors to the error output,
   * to allow for users of the library to handle data refresh errors
   * (whether it be from an API or local storage) appropiately.
   */
  refresh() {
    let self &#x3D; this;

    this.def
      .refresh(this.filters, this.sorting, this.paging)
      .then(data &#x3D;&gt; {
        self.data &#x3D; data;
      })
      .catch(err &#x3D;&gt; {
        self.error.emit(err);
      });
  }
}
</code></pre>
        </div>
    </div>










                   </div><div class="search-results">
    <div class="has-results">
        <h1 class="search-results-title"><span class='search-results-count'></span> results matching "<span class='search-query'></span>"</h1>
        <ul class="search-results-list"></ul>
    </div>
    <div class="no-results">
        <h1 class="search-results-title">No results matching "<span class='search-query'></span>"</h1>
    </div>
</div>
</div>
           </div>
       </div>

       <script src="../js/libs/bootstrap-native.js"></script>

       <script src="../js/libs/es6-shim.min.js"></script>
       <script src="../js/libs/EventDispatcher.js"></script>
       <script src="../js/libs/promise.min.js"></script>
       <script src="../js/libs/zepto.min.js"></script>

       <script src="../js/compodoc.js"></script>

       <script src="../js/search/search.js"></script>
       <script src="../js/search/lunr.min.js"></script>
       <script src="../js/search/search-lunr.js"></script>

       <script src="../js/menu.js"></script>
       <script src="../js/libs/highlight.pack.js"></script>
       <script src="../js/libs/highlightjs-line-numbers.min.js"></script>
       <script src="../js/search/search_index.js"></script>
       <script>
            document.addEventListener('DOMContentLoaded', function() {
                hljs.initHighlightingOnLoad();
                hljs.initLineNumbersOnLoad();
            });
       </script>

    </body>
</html>
